<div class="dropdown">
    <button style="text-align:left" class="btn btn-outline-dark dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
    </div> 
</div>
<div class="mt-4">
    <p style="display:inline;">總金額:</p>
    <font align="center" style="color:orange;" size="7" class="ml-2">25260</font>
</div>
<ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
        <div class="row">
            <div class="col-auto mr-auto">
                <i class="fas fa-home"></i>
                <div style="display:inline-block;">
                    <span >{{this.name}}</span>
                    <small>{{this.date}}</small>
                </div>     
            </div>
            <div class="col-auto">
                {{this.amount}}
            </div>
            <div class="col-auto">
                <a href="">修改</a>
                <a href="">刪除</a>
            </div>
        </div> 
    </li>
    {{/each}}
</ul>
<a href="/records/new" class="btn btn-warning btn-lg btn-block mt-4">新增支出</a>


