<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Register</h1>
            <form action="/users/register" method="POST">  
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="string" name="name" class="form-control" id="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Create Password">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-warning btn-block">Register</button>
                <p class="lead mt-4">
                    Have An Account? <a href="/users/login">Login</a>
                </p>    
            </form>
        </div>
    </div>
</div>